<!--@subject Store Assistant support request {{var case.public_id}} updated @-->
<!--@vars {
"var case.public_id":"Case ID",
"var case.status":"Status",
"var case.subject":"Subject"
} @-->
{{template config_path="design/email/header_template"}}
<p><strong>{{trans "Your Store Assistant support request was updated."}}</strong></p>
<p>{{trans "Case:"}} {{var case.public_id|escape}}</p>
<p>{{trans "Status:"}} {{var case.status|escape}}</p>
<p>{{var case.subject|escape}}</p>
{{template config_path="design/email/footer_template"}}
