<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Csp\Model\CspRenderer">
        <plugin name="afd_ai_allow_configured_chat_gateway_origin"
                type="Afd\AI\Plugin\Csp\AddChatGatewayOrigin"
                sortOrder="100" />
    </type>
</config>
