<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_afd_ai">
        <observer name="afd_ai_sync_node_config" instance="Afd\AI\Observer\SyncNodeConfig"/>
    </event>
    <!-- Magento website/store base URLs are part of the Node snapshot too. -->
    <event name="admin_system_config_changed_section_web">
        <observer name="afd_ai_sync_node_config_magento_url" instance="Afd\AI\Observer\SyncNodeConfig"/>
    </event>
</config>
