<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="afd_ai" frontName="afd_ai">
            <module name="Afd_AI" before="Magento_Backend"/>
        </route>
    </router>
</config>
